body{
	background-color: white;
}
#he{
background-color: red;
color:blue;
}
#brand{
	color:black;
}

#brand{
	font-family: cursive;
	font-weight: bold;
	font-size: 30px;
	
}
#lis{
	list-style: none;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 22px;
	color: black;
}
#databox{
	color: black;
}
p{
	font-size: 20px;
	color: brown;
}
#men , #chicken{
	margin:10px auto 10px;
	text-align: center;
}
#men{
	margin:20px auto 20px;
}
#cont{
	background-color: rgb(200,200,200);
}
p{
	word-wrap: break-word;
}